@using System.Web
@model THECinema.Web.ViewModels.Movies.FullInfoMovieViewModel
@{
    ViewData["Title"] = "Details";

    var url = Model.TrailerVideoUrl;
    var uri = new Uri(url);
    var query = HttpUtility.ParseQueryString(uri.Query);
    var videoId = query["v"];
}
<link href="~/css/details.css" rel="stylesheet" asp-append-version="true" />

<h1 class="text-center">@Model.Name</h1>

<div class="clearfix">
    <div class="box" id="imgBox">
        <img class="float-left" src="@Model.TrailerUrl" />
    </div>
    <div class="box" id="middleBox">
        <h5>Director</h5>
        <h7>@Model.Director</h7>
        <h5>Actors</h5>
        <h7>@Model.Actors</h7>
        <h5>Resume</h5>
        <p>@Model.Description</p>
        <h5>Rating</h5>
        <p>@Model.Rating</p>
    </div>
    <div class="box">
        <h5>Duration</h5>
        <h7>@Model.Duration minutes</h7>
        <h5>Year</h5>
        <h7>@Model.Year</h7>
        <h5>Genre</h5>
        <h7>@Model.Genre</h7>
        <hr />
        <a href="#trailer" id="trailerBtn" class="btn btn-warning">WATCH TRAILER</a>
        <a href="/Projections/GetById?filmId=@Model.Id" id="bookBtn" class="btn btn-success">BOOK TICKET</a>
    </div>
</div>

<div id="trailer">
    <iframe width="960" height="480"
            src="https://www.youtube.com/embed/@videoId">
    </iframe>
</div>




<style>
    #trailer {
        margin-left: 6%;
    }

    #trailer {
        display: none;
    }
</style>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    $("#trailerBtn").click(function () {
        $("#trailer").toggle();
        $('html, body').animate({
            scrollTop: $("#trailer").offset().top
        }, 500);
    });
</script>
