@model THECinema.Web.ViewModels.Reservations.FullInfoReservationViewModel
@{
    ViewData["Title"] = "Ticket";
}

<link href="~/css/ticket.css" rel="stylesheet"/>

<h4 align="center" class="tnxText">Thank you for your reservation!</h4>
<h5 align="center" class="tnxText">Here is your Ticket.</h5>
<h6 align="center" class="tnxText">You can find all of your reservations in your profile page!</h6>

<div class="cardWrap">
    <div class="card cardLeft">
        <h1>THECinema</h1>
        <div class="title">
            <h2>@Model.MovieName</h2>
            <span>movie</span>
        </div>
        <div class="name">
            <h2>@Model.UserName</h2>
            <span>name</span>
        </div>
        <div class="seat">
            <h2>@Model.SelectedSeats</h2>
            <span>seat</span>
        </div>
        <div class="time">
            <h2><time datetime="@Model.DateTime.ToString("O")"></time></h2>
            <span>time</span>
        </div>

    </div>
    <div class="card cardRight">
        <div class="eye"></div>
        <div class="number">
            @if (Model.SelectedSeats.Length > 7)
            {
                <h3>@Model.SelectedSeats.Substring(0, 7)</h3>
            }
            else
            {
                <h3>@Model.SelectedSeats</h3>
            }
            <span>seat</span>
        </div>
        <div class="barcode"></div>
    </div>

</div>