@model CinemaSystem.Web.ViewModels.Payments.CombinedPaymentModel
@{
    ViewData["Title"] = "Reservation Details";

    var projectionType = "2D";

    if (Model.ViewModel.ProjectionType == "ThreeD")
    {
        projectionType = "3D";
    }
    else if (Model.ViewModel.ProjectionType == "FourDx")
    {
        projectionType = "4Dx";
    }
}

<h4 align="center" class="mb-4">@ViewData["Title"]</h4>

<div class="col-md-4 center">
    <form class="form" asp-controller="Payments" asp-action="Checkout" method="post">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" disabled="disabled" value="@Model.ViewModel.UserName" />
        </div>
        <div class="form-group">
            <label>Movie</label>
            <input class="form-control" disabled="disabled" value="@Model.ViewModel.MovieName" />
        </div>
        <div class="form-group">
            <label>Projection Type</label>
            <input class="form-control" disabled="disabled" value="@projectionType" />
        </div>
        <div class="form-group">
            <label>Hall Number</label>
            <input class="form-control" disabled="disabled" value="@Model.ViewModel.HallId" />
        </div>
        <div class="form-group">
            <label>Seats</label>
            <input class="form-control" disabled="disabled" value="@Model.ViewModel.SelectedSeats" />
        </div>
        <div class="form-group">
            <label>Price</label>
            <input class="form-control" disabled="disabled" value="$@(Model.ViewModel.Price).00" />
        </div>
        <div class="form-group">
            <label>Payment method</label>
            <select class="form-control" asp-for="InputModel.PaymentType">
                <option value="Cash">Cash</option>
                <option value="CreditCard">Credit/Debit Card</option>
            </select>
        </div>

        <input type="hidden" asp-for="InputModel.ReservationId" value="@Model.InputModel.ReservationId" />

        <hr />

        <input type="submit" value="Checkout" class="btn btn-primary" />
    </form>
</div>

<style>
    .center{
        margin-left: auto;
        margin-right: auto;
    }
</style>